params {
    input = "/ssd1/wy/workspace/yachi_singlecell_GSE189381/rawData/*.rds"
    marker = "/ssd1/wy/workspace/nf-singlecell/yachi_marker.txt"
}


profiles {
   slurm {
        executor {
            name = 'slurm'
            cpus = 200
            memory = '500 GB'
            queueSize= 5
        }
        process {
            cpus   = { 30 }
            memory = { 200.GB }
            clusterOptions = "-p low"
        }
    } 
    test{
        params.input = "/ssd1/wy/workspace/yachi_singlecell_GSE189381/pmbc_1683691139445_seurat.rds"
        params.marker = "/ssd1/wy/workspace/nf-singlecell/pbmc_marker.txt"
    }

}


